*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte personalizada */
@font-face {
  font-family: 'dunafont';
  src: url('Dune_Rise.otf') format('opentype'),
       url('Dune_Rise.ttf') format('truetype');
}

@font-face {
  font-family: 'minimal';
  src: url(minimal.otf) format(truetype);
}

/* Estilos do corpo */
body {
  font-family: 'dunafont', sans-serif;
  font-size: 13px;
  scroll-behavior: smooth;
}

/* Cabeçalho */
.header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menu a:not(:last-child)::after {
  content: '//';
  margin: 0 10px;
}

.menu a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* Corpo principal */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Seção 1 */
.hnome {
  max-width: 50%;
  margin-top: 15%;
  text-align: center;
  color: black;
}

.hnome h1 {
  margin: 0 auto;
  font-size: 40px;
}

.hnome h3 {
  margin: 0;
  font-size: 18px;
}

/* Segunda seção */

.second {
  background-color: black;
  color: white;
  width: 98.82vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 26%;
}

.about{
  margin-left: -60%;
 margin-top: -19%;
 font-size: 300%;
}

.about h2{
  text-align: left;
  font-size: 40%;
  margin-left: 34%;

}
.about h3{
  font-family: 'minimal';
  margin-top: 2%;
  margin-left: 34%;
  text-align: left;
  font-size: 50%;
}

.terceira {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 98.82vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0%;
}

.ski{

  margin-top: -35%;
  font-size: 200%;
}

.terceira2{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 20vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -34%;
  margin-left: 8%;
  font-size: 50%;
  border-radius: 0.7%;
}

.software-develop{
  font-family: minimal;
  font-size: 500%;
  
}

.terceira3{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 20vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -25%;
  margin-left: 36%;
  font-size: 50%;
  border-radius: 0.7%;
}

.Backend{
  font-family: minimal;
  font-size: 500%;
  
}


.terceira4{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 20vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -25%;
  margin-left: 57%;
  font-size: 50%;
  border-radius: 0.7%;
}

.frontend{
  font-family: minimal;
  font-size: 500%;
  
}


.terceira4{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 20vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -25%;
  margin-left: 57%;
  font-size: 50%;
  border-radius: 0.7%;
}

.frontend{
  font-family: minimal;
  font-size: 500%;
  
}

.terceira5{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 20vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -25%;
  margin-left: 78%;
  font-size: 50%;
  border-radius: 0.7%;
}

.sql{
  font-family: minimal;
  font-size: 500%;
  
}



/* .quarta {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 98.82vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0%;
}
 */





/*EFEITO QUADRADOS LOUCOS*/

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; 
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(10, 10, 10, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}