*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'dunafont'; /* Nome da fonte */
  src: url('Dune_Rise.otf') format('opentype'), /* Caminho para o arquivo de fonte WOFF2 */
       url('Dune_Rise.ttf') format('truetype'); /* Caminho para o arquivo de fonte WOFF */
  /* Adicione outros formatos de arquivo de fonte, se necessário */
}

body{
  font-family:dunafont;
  font-size: 13px;
}



/*CABECALHO*/

.header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: transparent; 
  padding: 5px; 
  z-index: 999; 
  margin-top: 20px;
  margin-left: 20px;
}

.header > div {
  display: flex; 
  justify-content: space-between; 
  
}

.menu ul li:not(:last-child)::after{
  content: '//';
  color: white;
}

.menu ul {
  list-style: none; 
  padding: 0; 
  margin: 0;
  margin-right: 35rem; 
  margin-top: 10px;
  font-size: 15px;

}

.menu ul li {
  display: inline; 

}

.menu ul li a {
  color: white; 
  text-decoration: none; 
  padding: 0 10px; 
}



/*CORPO*/

.main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh; 
}


/*seçao 1*/

.hnome {
  margin-top: -500px; 
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center; 
  color: white;
  margin-left: 300px;
}

.hnome h1, .hnome h3 {
  margin: 0; 
}

.hnome h1{
  margin: 0 auto;
}

.hnome h3{
  font-size: 18px;
}

/*seção2*/

.second{
  margin-top: 387px;
  color: white;
  width: 100%;
  /* background-color: #353983; */
  background-color: #686ba0;
  height: 780px;
}



















/*EFEITO QUADRADOS LOUCOS*/

.area{
    background: #353983;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    z-index: 1;
   
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}